<launch>

  <arg name="frequency" default= "20"/>

  <node pkg="beginner_tutorials" name="talker" type="talker"
	args= "$(arg frequency)" output= "screen">
  </node>

  <node pkg="beginner_tutorials" name="listener" type="listener"
	launch-prefix = "gnome-terminal --command" output= "screen">
  </node>

</launch>
